# PLS Model

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.cross_decomposition import PLSRegression, PLSSVD
from sklearn.metrics import mean_squared_error

In [3]:
data_file = "Hitters.csv"

In [4]:
df = pd.read_csv(data_file).dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [5]:
x64 = df.drop(["Salary", "League", "Division", "NewLeague"], axis=1).astype("float64")
y = df["Salary"]
dummies = pd.get_dummies(df[["League", "Division", "NewLeague"]])
X = pd.concat([x64, dummies[["League_N", "Division_W", "NewLeague_N"]]], axis=1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3232)
pls_model = PLSRegression().fit(X_train, y_train)
#print(pls_model.intercept_)
print(pls_model.coef_)

[[ 23.41189525]
 [ 47.21536343]
 [  8.23578664]
 [ 39.6366971 ]
 [ 28.08139918]
 [ 35.9048357 ]
 [  3.69559952]
 [ 25.30165501]
 [ 38.05292994]
 [ 28.71762107]
 [ 39.83308613]
 [ 35.27335435]
 [ 16.57406637]
 [ 58.9205953 ]
 [ -2.13748543]
 [ -7.52410175]
 [ 29.56575798]
 [-56.35741172]
 [ 23.08841141]]

# Tahmin

In [13]:
pls_model.predict(X_train)

array([[ 6.59215662e+02],
       [ 3.13051401e+02],
       [ 6.62410444e+02],
       [ 5.93143456e+02],
       [ 4.67470984e+02],
       [ 4.08432965e+02],
       [ 7.31269374e+02],
       [ 3.51712444e+02],
       [ 7.45605418e+02],
       [ 2.89663303e+01],
       [-2.80546577e+01],
       [ 7.68515658e+02],
       [ 4.99753960e+02],
       [ 1.97330810e+02],
       [-1.68075006e+01],
       [ 3.73804015e+02],
       [ 6.08840426e+02],
       [ 3.55984728e+02],
       [ 7.55265629e+02],
       [ 9.27557378e+02],
       [ 2.61000154e+02],
       [ 7.80840005e+02],
       [ 4.40365083e+02],
       [ 1.31445314e+02],
       [ 1.49975749e+02],
       [ 3.44815480e+02],
       [ 4.13494103e+02],
       [ 5.48794914e+02],
       [ 1.02810709e+03],
       [ 1.18915579e+03],
       [ 1.00853693e+03],
       [ 2.69034294e+02],
       [ 8.78176624e+02],
       [ 6.46894072e+02],
       [ 2.03518308e+02],
       [ 6.35015566e+02],
       [ 1.85509599e+02],
       [ 9.16395500e+02],
       [ 4.49922041e+02],
       [ 3.84218488e+02],
       [ 5.23251416e+02],
       [ 5.38851935e+02],
       [ 1.92929191e+02],
       [ 1.32965568e+03],
       [ 7.36689700e+02],
       [ 7.10628783e+02],
       [ 3.37035700e+02],
       [ 7.31826203e+02],
       [ 8.42334512e+01],
       [ 2.39037741e+02],
       [ 3.94254113e+02],
       [ 7.81158000e+02],
       [ 5.36042614e+02],
       [ 6.96538778e+02],
       [ 1.43826593e+03],
       [ 8.40078167e+02],
       [ 2.09954520e+02],
       [ 6.44013508e+02],
       [ 1.78274914e+02],
       [ 6.44277035e+02],
       [ 5.64838338e+02],
       [ 4.82727880e+02],
       [ 1.28812947e+03],
       [ 2.76054599e+02],
       [ 4.35498413e+02],
       [ 6.05387395e+02],
       [ 6.25374316e+02],
       [ 8.66891004e+02],
       [ 9.55573445e+01],
       [ 2.78581323e+02],
       [ 4.72835732e+02],
       [ 2.90028329e+02],
       [ 8.57042297e+02],
       [ 3.85125976e+02],
       [ 6.37522081e+02],
       [ 1.11380274e+03],
       [ 6.93440118e+02],
       [ 2.74543987e+02],
       [ 3.66637174e+02],
       [ 8.63301384e+02],
       [ 4.28985581e+02],
       [ 5.03665098e+02],
       [ 5.96464332e+02],
       [ 3.61603745e+02],
       [ 2.25986816e+02],
       [ 3.86772505e+02],
       [ 2.08060369e+02],
       [ 7.20798290e+02],
       [ 1.06655667e+03],
       [ 9.10040376e+02],
       [ 3.04018065e+02],
       [ 3.04476074e+02],
       [ 1.50868935e+02],
       [ 3.63790804e+02],
       [ 4.09944168e+02],
       [ 5.43664260e+02],
       [ 5.00365106e+02],
       [ 2.56281655e+02],
       [ 5.79592057e+02],
       [-1.26833043e+01],
       [ 4.06885922e+01],
       [ 6.54006970e+02],
       [ 3.75504479e+02],
       [ 1.04385201e+03],
       [ 7.80273101e+02],
       [ 5.08899045e+02],
       [ 3.79201984e+02],
       [ 3.85915555e+02],
       [ 1.26526456e+02],
       [ 1.37777221e+03],
       [ 8.91503788e+02],
       [ 6.96741014e+02],
       [ 6.88055007e+02],
       [ 8.59847921e+02],
       [ 7.40937274e+02],
       [ 7.28396751e+02],
       [ 2.38452834e+02],
       [ 4.56822046e+02],
       [ 2.44881748e+01],
       [ 1.24153763e+02],
       [ 3.95775165e+02],
       [ 5.09703602e+02],
       [ 7.99898347e+02],
       [ 5.62686453e+02],
       [ 7.57819783e+02],
       [ 4.64390759e+02],
       [ 1.29552519e+02],
       [ 5.62661512e+01],
       [ 1.15456255e+03],
       [ 4.11134371e+02],
       [ 4.39552111e+02],
       [ 6.55744059e+02],
       [ 3.64470343e+02],
       [ 1.29030397e+03],
       [ 1.53726947e+02],
       [ 3.21363469e+02],
       [ 4.65912366e+02],
       [ 5.29920830e+02],
       [ 3.24201723e+02],
       [ 2.65679810e+02],
       [ 1.07844161e+03],
       [ 6.49911735e+02],
       [ 1.23273788e+03],
       [ 8.03762829e+02],
       [ 2.64900504e+02],
       [ 7.90785533e+02],
       [ 9.88876382e+02],
       [ 8.20360387e+02],
       [ 6.36156953e+02],
       [ 2.41143817e+02],
       [ 7.80165183e+02],
       [ 7.21539427e+02],
       [ 5.21545155e+02],
       [ 4.41194469e+01],
       [ 1.28029284e+03],
       [ 8.57905388e+02],
       [ 1.26517376e+02],
       [ 4.77216853e+02],
       [ 1.16068313e+03],
       [ 9.90563347e+02],
       [ 2.43539736e+02],
       [ 3.28691178e+02],
       [ 4.50271944e+02],
       [ 9.00358089e+02],
       [ 5.67215870e+02],
       [ 2.14937527e+02],
       [ 5.26811053e+02],
       [ 6.94561718e+02],
       [ 5.23435089e+02],
       [ 2.52813339e+02],
       [ 5.07339024e+02],
       [ 9.39217515e-01],
       [ 6.34168303e+02],
       [ 3.47238895e+02],
       [ 4.41614876e+02],
       [ 6.88232645e+02],
       [ 2.71341957e+02],
       [ 8.90837048e+02],
       [ 1.49628207e+02],
       [ 5.35268688e+02],
       [ 5.79484345e+02],
       [ 2.95849638e+02],
       [ 6.34574789e+02],
       [ 4.92367408e+02],
       [ 7.19523897e+02],
       [ 1.54798464e+02],
       [ 8.30774102e+02],
       [ 1.34613761e+02],
       [ 9.71528061e+02],
       [ 3.31947071e+02],
       [ 7.87960694e+02],
       [ 2.52802431e+02],
       [ 5.05644581e+02],
       [ 7.98644023e+02],
       [ 3.25544833e+02],
       [ 3.24552843e+02],
       [ 6.09768535e+02],
       [ 1.21248975e+03],
       [ 2.82520695e+02],
       [ 6.91281626e+02],
       [ 4.45638312e+02],
       [ 3.45432563e+02],
       [ 4.27222622e+02],
       [ 1.91650115e+02],
       [ 4.24063690e+02],
       [ 6.55334698e+02],
       [ 8.06642754e+02],
       [ 8.93351479e+02],
       [ 8.26266724e+02],
       [ 2.69779074e+02]])

In [17]:
y_pred = pls_model.predict(X_train)
np.sqrt(mean_squared_error(y_train, y_pred))

335.3100497983514

In [18]:
y_pred = pls_model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

300.8141648358929

# Model Tuning

In [19]:
pls_model = PLSRegression(n_components=2).fit(X_train, y_train)

In [20]:
y_pred = pls_model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

300.8141648358929