# Random Forest

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
data_file = "Hitters.csv"

In [3]:
df = pd.read_csv(data_file).dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [4]:
x64 = df.drop(["Salary", "League", "Division", "NewLeague"], axis=1).astype("float64")
y = df["Salary"]
dummies = pd.get_dummies(df[["League", "Division", "NewLeague"]])
X = pd.concat([x64, dummies[["League_N", "Division_W", "NewLeague_N"]]], axis=1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3232)

rf_model = RandomForestRegressor().fit(X_train, y_train)

# Tahmin

In [8]:
y_pred = rf_model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

253.07487305407574

# Model Tuning

In [9]:
rf_params = {'max_depth': list(range(1, 10)), 'max_features': [5, 10, 15, 20], 'n_estimators': [100, 200, 300, 400, 500, 1000]}
rf_cv_model = GridSearchCV(rf_model, rf_params, cv=10, n_jobs=-1).fit(X_train, y_train)
rf_cv_model.best_params_

/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
540 fits failed out of a total of 2160.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
540 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_forest.py", line 450, in fit
    trees = Parallel(
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/joblib/parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/ensemble/_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/tree/_classes.py", line 1315, in fit
    super().fit(
  File "/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/tree/_classes.py", line 308, in fit
    raise ValueError("max_features must be in (0, n_features]")
ValueError: max_features must be in (0, n_features]

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/alperkaraca/opt/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.37581496 0.37189684 0.36904693 0.3691091  0.36910931 0.37215458
 0.35483597 0.35558923 0.35591849 0.36199449 0.36059729 0.3618117
 0.3514472  0.35405031 0.35259114 0.35667648 0.35552651 0.35513833
        nan        nan        nan        nan        nan        nan
 0.49871824 0.49992614 0.49658958 0.50153524 0.49479399 0.49186242
 0.49396285 0.47996572 0.4846699  0.48028502 0.47943573 0.47871661
 0.47371983 0.47589511 0.47277199 0.47064421 0.47085178 0.47558178
        nan        nan        nan        nan        nan        nan
 0.5415673  0.55204385 0.54876691 0.55001061 0.55187535 0.54997981
 0.55967869 0.56396456 0.55441423 0.55137694 0.54847769 0.55401188
 0.52845042 0.54549887 0.54838536 0.54726471 0.53454274 0.5423622
        nan        nan        nan        nan        nan        nan
 0.57084766 0.56367408 0.56848738 0.57560896 0.56052555 0.56381862
 0.54884162 0.56346993 0.55899908 0.55396683 0.55278232 0.5573294
 0.54500097 0.55444903 0.56512005 0.54039377 0.55345084 0.54784708
        nan        nan        nan        nan        nan        nan
 0.5766455  0.56278946 0.56658485 0.55750679 0.57321962 0.56724523
 0.55430201 0.55677272 0.56326345 0.55438184 0.56200928 0.55670139
 0.54534251 0.5516991  0.55311121 0.55450633 0.56030959 0.55360163
        nan        nan        nan        nan        nan        nan
 0.56040825 0.56899353 0.5674423  0.56627701 0.57153344 0.57025872
 0.55968847 0.55201561 0.55170112 0.5640721  0.56115667 0.55539316
 0.54533427 0.56275349 0.55925361 0.55051775 0.561016   0.55869878
        nan        nan        nan        nan        nan        nan
 0.55891489 0.56576583 0.56312505 0.56847896 0.56767913 0.56876522
 0.5589969  0.5454848  0.55701741 0.56756919 0.55981823 0.56329784
 0.55696247 0.55340983 0.55519084 0.56256549 0.54918857 0.55685634
        nan        nan        nan        nan        nan        nan
 0.57909801 0.56782017 0.57829986 0.57455924 0.56563802 0.56785404
 0.54318149 0.55626855 0.56366594 0.55992083 0.56708729 0.55772635
 0.54881347 0.56181575 0.56322073 0.55615475 0.55629018 0.55895065
        nan        nan        nan        nan        nan        nan
 0.57643314 0.5750977  0.57533643 0.57892776 0.57782976 0.57309083
 0.55580494 0.56452527 0.55915647 0.5625719  0.56086327 0.56137033
 0.54129662 0.55624155 0.55273938 0.57026076 0.55627058 0.56027559
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

{'max_depth': 8, 'max_features': 5, 'n_estimators': 100}

In [10]:
rf_tuned = RandomForestRegressor(max_depth=8, max_features=5, n_estimators=100).fit(X_train, y_train)
y_pred = rf_tuned.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

253.49529546266194